<h2>New Project</h2>

<%= form_with(model: @project, local: true, scope: :project) do |form| %>
  <% if @errors.present? %>
    <p>
      There were errors that prevented this form from being saved:
    </p>

    <ul>
      <% @errors.to_h.map do |key, messages| %>
        <% messages.each do |error| %>
          <li><%= key.to_s.capitalize %> <%= error %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <%= form.submit %>
<% end %>